<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%-6p] %c{1} - %m%n"/>
        </Console>

        <RollingFile
                name="RollingFile"
                fileName="/var/log/trino/trino-autoscale.log"
                filePattern="/var/log/trino/trino-autoscale.%d{yyyy-MM-dd-HH}.log.gz"
                ignoreExceptions="false">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%-6p] %c{1} - %m%n"/>
            <TimeBasedTriggeringPolicy interval="1" modulate="true" />
        </RollingFile>

    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>

</Configuration>